@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap&subset=latin-ext');

$font-base: 'Open Sans';
$font-alt: 'Merriweather';

$font-top-buttons-size: 13px;
$font-bottom-buttons-size: 18px;
$font-header-main: 38px;
$font-header-main-buttons: 36px;