.header_navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 873px;
  

  a {
    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      color: black;
    }
  }

  .header_navigation-top {
    display: flex;
    padding: 0 20px;
    .button {
      padding: 9px 10px;   
      color: $color-top-buttons-text;
      font-size: $font-top-buttons-size;
      text-decoration: none;
      border: 0.75px solid transparent;
    }
    :nth-child(2) {
      border: 0.75px solid $color-top-buttons-border;
    }
  }

  .header_navigation-bottom {
    display: flex;

    .header_navigation-bottom-list {
      list-style: none;
      display: flex;
    }      
    li:nth-child(1) {
      border: 0.75px solid $color-main-dark;
    }
    a {
      .button {
        padding: 9px 20px;   
        color: $color-main-dark;
        font-size: $font-bottom-buttons-size;
        text-decoration: none;
        border: 0.75px solid transparent;
      }

    }
  }

  .header_main {
    width: 703px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // transform: translate(-134px, 342px);
    transform: translate(-163px, 219px);
    .header_main-description {
      font-size: $font-header-main;
      color: $color-main-dark;
      padding-bottom: 33px;
    }
    .header_main-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 65px;
        width: 310px;
        height: 120px;
         color: $color-main-dark;
        font-size: $font-header-main-buttons;
        text-decoration: none;
        border: 0.75px solid $color-main-dark;
      }

    }
  }


}

